/*
RULES:
    - :root is expected for all themes
      - All `--` values are theme specific and descriptive
    - All imports have to be defined at the top of the CSS file
    - Make sure that when you submit your CSS file, it is properly formatted and validated by a linter (such as Prettier). 
    Additionally, ensure that your CSS is written in a way that is easily readable for everyone.
*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
    --main-theme-color: #0f579c;
}

.your-class .your-class__header {
    background-color: var(--main-theme-color);
    /* Sometimes you'll need an !important
      to overwrite the default value */
}

/* Add more HTML classes after this */